<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App Security Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container">
            {% if user %}
            <a class="navbar-brand" href="#">
                <img src="{{ user['picture']|string }}" alt="NatCobs Image" width="30" height="24">
            </a>
            {% else %}
            <a class="navbar-brand" href="#">
                <img src="#" alt="No User" width="30" height="24">
            </a>
            {% endif %}
        </div>
    </nav>

    <div class='container my-5'>
        {% if user %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ user['picture']|string }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"> {{ user["name"]}} </h5>
                        <p class="card-text"> {{ user["family_name"] }}</p>
                        <p class="card-text"> {{ user["given_name"] }}</p>
                        <p class="card-text"> {{ user["locale"] }}</p>
                        <p class="card-text"><small class="text-body-secondary">  {{ user["sub"]}}</small></p>
                    </div>
                </div>
            </div>
            <a href="/logout" class="btn btn-primary" tabindex="-1" role="button">Logout</a>
        </div>
        {% else %}
        <a href="/login" class="btn btn-primary" tabindex="-1" role="button">Login</a>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>